{% extends 'base-admin.html' %}

{% block title %}Admin Login -{% endblock title %}

{% block body %}

<section class="vh-100 gradient-custom">
    <div class="container-fluid py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-5">
                <div class="card shadow-2-strong card-registration bg-black" data-bs-theme="dark"
                    style="border-radius: 25px;">
                    <div class="card-body p-4 p-md-5">
                        <a href=""><img src="static/img/logo.png" height="35%" width="35%" alt="icon"></a> #It's
                        trending
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Admin Login</h3>
                        <form class="mx-1 mx-md-4" method="post" action="/adminlogin">
                            {% csrf_token %}

                            <!-- Username -->
                            <div class="d-flex flex-row align-items-center  mb-4">
                                <div class="px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="maroon"
                                        class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                    </svg>
                                </div>
                                <div class="input-group col-auto form-outline flex-fill mb-0">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">@</div>
                                    </div>
                                    <input type="text" id="username" name="username" class="form-control"
                                        placeholder="Username">
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="d-flex flex-row align-items-center mb-4">
                                <div class="px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="maroon"
                                        class="bi bi-lock-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                                    </svg>
                                </div>
                                <div class="form-outline flex-fill mb-0">
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Password" />
                                </div>
                            </div>

                            <!-- Login Button -->
                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-0">
                                <button type="submit" class="btn btn-primary btn-lg">Login</button>
                            </div>

                        </form>
                    </div calsss="cointainer">
                    <div class="form-check d-flex justify-content-center mb-5 text-muted">
                        Don't have an Account? &nbsp; &nbsp;<a href="/adminreg">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}